@import url('https://fonts.googleapis.com/css?family=Numans');

html
{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    height: 100%;
}

body
{
    height: 100%;
    background-image: url("../img/background.jpg"), url("../img/background2.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    font-family: Lato
}

.container
{
    height: 100%;
    align-content: center;
}
.bg-black
{
    background-color: #000;
    opacity: 0.7;
}

/**********NAVBAR**********/
.navbar{
    background-color: #6fa3f4;
}
.navbar-custom .navbar-nav .nav-item .nav-link
{
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.navbar-brand
{
    font-size: 1.5rem;
}

.logout_btn
{
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding-top: 6px;
    display: block;
    padding-bottom: 0.5rem;
    color: rgba(0,0,0,.5);
}
.logout_btn2
{
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding-top: 6px;
    display: block;
    padding-bottom: 0.5rem;
    color: rgba(0,0,0,.5);
}


#Intro
{
    padding-top: 7rem;
    padding-bottom: 7rem;
}
#About
{
    padding-bottom: 5rem;
}

/**********LOGIN**********/
.card
{
    height: 390px;
    margin-top: auto;
    margin-bottom: auto;
    width: 450px;
    background-color: rgba(161,169,178,0.80) !important;
}

.card-header h3
{

    color: white;
}

.input-group-prepend span
{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

.remember
{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn
{
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover
{
    color: black;
    background-color: white;
}

.links
{
    color: white;
}

.links a
{
    margin-left: 4px;
}

/**********REGISTRATION**********/
.reg_btn{
    color: black;
    background-color: #FFC312;
    width: 410px;
}

.reg_btn:hover{
    color: black;
    background-color: white;
}

/**********WELCOME GRID**********/
.grid
{
    padding-top: 200px;
    text-align: center;
    padding-bottom: 25px;
}

.grid figcaption
{
    margin-top: 15px;
    font-family: 'Bad Script';
    font-weight: 700;
}

/**********MODAL**********/
.modal-content
{

    background-color: rgba(161,169,178,0.9);
}
.modal_btn
{
    background-color: rgba(98,155,243,0.9);
}
.modal_btn:hover
{
    color: black;
    background-color: white;
}
#Data
{
    padding-top: 6rem;
    padding-left: 12rem;
    clear: both;
}
.box-header
{
    padding-bottom: 3rem;
}
.box-bottom
{
    padding-top: 5rem;
}

.settings_buton img
{
    width: 100%;
    height: auto;
    padding-top: 2rem;
}
.settings_buton figure figcaption
{
    text-align: center;
}
.settings_buton figcaption
{
    font-family: 'Bad Script';
    font-size: 0.5rem;
    font-weight: 700;
    margin-top: 5px;
}
.delete_account
{
    padding-top: 1rem;
    padding-top: 1rem;
}

#About img
{
    width: 75%;
}
.Functions
{
    padding-top: 150px;
    text-align: center;
    padding-bottom: 100px;
}
.Functions figcaption
{
    margin-top: 15px;
    font-weight: 500;
    font-size: 1.3rem;
}